<div class="card" style="width: 18rem">
  <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">
        <!-- Card title -->
        <ng-content select="div"></ng-content>
    </h5>
    <p class="card-text">
      <!-- Some quick example text to build on the card title and make up the bulk of
      the card's content. -->
      <ng-content select="p"></ng-content>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
