<div class="center">
  <!-- <app-employee-crud></app-employee-crud> -->

  <app-pipes></app-pipes>



  <!-- <app-demo1>
        <h2>This content is from Parent Component</h2>
    </app-demo1> -->
  <!-- <app-card>
    <div>Samsung Galaxy s5</div>
    <p>
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </app-card>
  <app-card>
    <div>Oppo reno 5</div>
    <p>Some other description from some other parent</p>
  </app-card> -->
</div>
