<p>user works!</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First NAME</th>
      <th>Last Name</th>
      <th>FullName</th>
      <th>Salary</th>
      <th>Yearly Salary</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.fname }}</td>
      <td>{{ user.lname }}</td>
      <td>{{ user.fullName() }}</td>
      <td>{{ user.sal }}</td>
      <td>{{ user.yearlySal() }}</td>
      <td>{{ user.address }}</td>
    </tr>
  </tbody>
</table>
